<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Companies List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let clist of comList" side="start">

      <ion-item  lines="full">
        <ion-label>
          <strong>{{clist.companyName}}</strong>
          <p>{{clist.Address}}</p>
        </ion-label>     
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>


