<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-title class="ion-text-left">
          My Appointment List
        </ion-title>

        <ion-chip *ngIf="authService.userData as user" class="ion-text-right" (click)="presentAlertLogout()">
          <ion-avatar>
            <img src="{{user.photoURL}}" />
          </ion-avatar>
          <ion-label> 
            {{user.displayName}}          
          </ion-label>
        </ion-chip>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
